._*.yaml
secrets.yaml
known_devices.yaml
.DS_Store
.HA_VERSION
._.DS_Store
.uuid
home-assistant.log
home-assistant_v2.db
*.conf
.cloud
.storage
OZW_Log.txt
ip_bans.yaml
options.xml
*.sqlite
._*
zw*.xml
